<!DOCTYPE html>
<html lang="en">
<head>
  
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <title>{% block title %}{% endblock %} 영화 정보 웹사이트</title>
  {% endblock %}
</head>
<body>


<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">

    <li class="nav-item">
      <a class="nav-link" href="/">Home</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('top17') }}">Top17 Movies</a>
    </li>


    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('findmovie') }}">Find movie</a>
      </li>
  
<!-- 
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('method') }}">FIND</a>
    </li> -->

    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('note') }}">Note</a>
      </li>

     <li class="nav-item">
      <a class="nav-link" href="{{ url_for('kakaoLogin') }}">Log in</a>
    </li> 


  </ul>
</nav>
<br>{% block content %}{% endblock %}
<html lang="ko"> 
    <head> <!-- Webpage Title --> 
        <title>영화 리뷰</title> 
        
        <!-- Required meta tags --> 
        <meta charset="utf-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
        
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
                crossorigin="anonymous"> 
                
        <!-- JS --> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
                crossorigin="anonymous"></script> 
                
        <!-- 구글폰트 --> 
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap" rel="stylesheet"> 
        <script type="text/javascript"> 
        
            $(document).ready(function () {
                $("#reviews-box").html(""); 
                showReview(); }); function makeReview() { 
                    $.ajax({ type: "POST", 
                    url: "/review", 
                    data: {sample_give:'샘플데이터'}, 
                    success: function (response) { 
                        alert(response["msg"]); 
                        window.location.reload(); 
                        
                    } 
                }) 
            } 
            // function showReview() {
            //      $.ajax({
            //         type: "GET",
            //         url: "/review?sample_give=샘플데이터", 
            //         data: {}, 
            //         success: function (response) { 
            //             alert(response["msg"]); 
            //         } 
            //     }) 
            // }
        </script> 
        
        <style type="text/css">
            * { 
                font-family: "Do Hyeon", sans-serif; 
            } 
            h1, 
            h5 {
                 display: inline; 
            } 
            
            .info {
                margin-top: 20px;
                margin-bottom: 20px; 
            
            } .review {
                text-align: center; 
            
            } .reviews {
                margin-top: 100px;
            
            } 
        </style> 
    </head>


    <form action="notesave" method="post">
    <body> 
        <div class="container"> 
            <img src="https://c.pxhere.com/photos/6c/37/photo-41952.jpg!d" style="height:500px;width:1500px;" class="img-fluid" alt="Responsive image"> 
            <div class="info"> <h1>영화 리뷰 노트</h1> 
            <p>영화 리뷰를 남겨주세요.</p> 
            
            <div class="input-group mb-3"> 
                <div class="input-group-prepend"> 
                    <span class="input-group-text">제목</span> 
                </div> 
                <input type="text" class="form-control" name="title2" id="title"> 
            </div> 
            <div class="input-group mb-3"> 
                <div class="input-group-prepend"> 
                    <span class="input-group-text">감독</span> 
                </div> 
                <input type="text" class="form-control" name="director" id="author"> 
            </div> 
            <div class="input-group mb-3"> 
                <div class="input-group-prepend"> 
                    <span class="input-group-text">리뷰</span> 
                </div> 
                <textarea class="form-control" name="content" id="bookReview" cols="30" rows="5" placeholder="160자까지 입력할 수 있습니다."></textarea> 
            </div> 
            <div class="review"> 
                <button onclick="makeReview()" type="button" class="btn btn-primary">리뷰 작성완료</button> 
            </div> 
        </div>
    </body>
    </form>